@import "components/default";
@import "components/icons";
@import "components/fonts";
@import "components/header";
@import "components/breadcrumbs";
@import "components/catalog";
@import "components/sort-block";
@import "components/news-block";
@import "components/footer";
@import "components/clubs";
@import "components/top";
@import "components/ratings";
@import "components/about";
@import "components/about";
@import "components/about-us";
@import "components/examples";
@import "components/leaders";
@import "components/main-block";
@import "components/post";
@import "components/compare-players";
@import "components/player";
@import "components/your-offers";
@import "components/what-i-get";
@import "components/faq";
@import "components/cooperation";
@import "components/competitions";
@import "components/contacts";
@import "components/map";
@import "components/trainer";
@import "components/modals";
@import "components/registration";


.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
