<section class="contacts-page col-12">
  <div class="contacts-page__top d-flex col-12">
    <span class="title">Наши контакты</span>
  </div>

  <div class="contacts-page__content d-flex flex-wrap col-12">
    <div class="contacts-page__list d-flex flex-wrap">
      <div class="contacts-page__item d-flex flex-wrap">
        <span class="contacts-page__item-icon icon-phone"></span>
        <a href="tel:89274466570" class="contacts-page__item-title">8 (927) 446-65-70</a>
        <span class="contacts-page__item-subtitle">Руководитель проекта</span>
        <span class="contacts-page__item-contact">Шайхмурзин Ренат</span>
      </div>

      <div class="contacts-page__item d-flex flex-wrap">
        <span class="contacts-page__item-icon icon-email"></span>
        <a href="mailto:renat@autolife.cc" class="contacts-page__item-title">renat@autolife.cc</a>
        <span class="contacts-page__item-subtitle">Вопросы и рпедложения</span>
      </div>

      <div class="contacts-page__item d-flex flex-wrap">
        <span class="contacts-page__item-icon icon-address"></span>
        <span class="contacts-page__item-title">Республика Татарстан, <br>Казань, ул. Спартаковская, дом 2</span>
      </div>

      <div class="contacts-page__btn d-flex transition" data-toggle="modal" data-target="#message-modal-new" (click)="globalParamsMessage.showMessage=true">
        <span class="icon-mail transition"></span>
        Написать нам
      </div>
    </div>

    <div class="contacts-page__map col" id="map"></div>
  </div>
</section>
