<section class="about d-flex flex-wrap col-12">
  <div class="about__info col-12 col-md-7 col-lg-6">
    <span class="about__info-title col-12">О проекте</span>
    <span class="about__info-description col-12">Футбольный капитал - интернет платформа для молодых футболистов от 7 лет и детских тренеров. Здесь осуществляется выявление, систематизация  и длительное наблюдение за каждым игроком, посредством регистрации и накопления информации о нем и его результатах. На нашей платформе каждый сможет заявить о себе, и о нем узнают футбольные клубы и академии страны. Здесь каждый создает свой футбольный капитал, вместе мы формируем футбольный капитал страны. Регистрируясь на платформе, Вы получаете возможность стать активными участниками футбольного сообщества.</span>
  </div>

  <div class="about__image d-none d-md-block col-md-5 col-lg-6">
    <img src="/src/assets/images/about-image.png" class="about__image-img" alt="about project image">
  </div>
</section>
