<section class="cooperation-page col-12">
  <div class="cooperation-page__top d-flex col-12">
    <span class="title">Сотрудничество</span>
  </div>

  <div class="cooperation-list d-flex flex-wrap col-12">
    <div class="cooperation col-12 col-md-6">
      <div class="cooperation__inner col-12">
        <div class="cooperation__image d-flex">
          <img src="src/assets/images/icon-agents.png" class="cooperation__image-img" alt="Football agents icon">
        </div>
        <span class="cooperation__title col-12">Футбольные агенты</span>
        <span class="cooperation__description col-12">Вы сможете находить клиентов еще до их шагов в профессиональном спорте, вести их, получать интересующую информацию по различным годам жизни футболиста. Также Вы можете стать Инвестором проекта, инвестируя в одного или нескольких молодых футболистов.</span>
      </div>
    </div>

    <div class="cooperation col-12 col-md-6">
      <div class="cooperation__inner col-12">
        <div class="cooperation__image d-flex">
          <img src="src/assets/images/icon-clubs.png" class="cooperation__image-img" alt="Football clubs and academies icon">
        </div>
        <span class="cooperation__title col-12">Футбольные клубы и академии</span>
        <span class="cooperation__description col-12">Помимо собственных воспитанников, у Вас появляется возможность регулярно получать разнообразную информацию о большом количестве футболистов разных возрастов, из разных регионов страны. Вы сможете получать и анализировать данные о результатах наблюдения за развитием футболистов за разные периоды времени. Информация подтверждается из различных источников. Футбольные таланты не пройдут мимо Вас!</span>
      </div>
    </div>

    <div class="cooperation col-12 col-md-6">
      <div class="cooperation__inner col-12">
        <div class="cooperation__image d-flex">
          <img src="src/assets/images/icon-investor.png" class="cooperation__image-img" alt="Investor icon">
        </div>
        <span class="cooperation__title col-12">Инвестору</span>
        <span class="cooperation__description col-12">На сегодняшний день it-технологии являются составной частью нашей жизни. Вы можете не только получать удовольствие от просмотра футбольных матчей, но и стать частью игры № 1. Наша онлайн-платформа помогает молодым футболистам заявить о себе, получить путевку в профессиональный спорт. Став инвестором проекта Вы инвестируете в будущее, в том числе футбольное!</span>
        <a href="" class="cooperation__link d-flex transition">Отправить заявку</a>
      </div>
    </div>

    <div class="cooperation col-12 col-md-6">
      <div class="cooperation__inner col-12">
        <div class="cooperation__image d-flex">
          <img src="src/assets/images/icon-partner.png" class="cooperation__image-img" alt="Partner icon">
        </div>
        <span class="cooperation__title col-12">Партнерам</span>
        <span class="cooperation__description col-12">Вы не равнодушный человек, Вас волнуют вопросы развития футбола в стране. Примите участие в формировании активного футбольного сообщества, станьте партнером проекта – помогите ребятам, увлеченным футболом узнать о проекте футбольный капитал, зарегистрироваться на платформе, снимайте видео тренировок и их матчей. У Вас есть шанс стать координатором проекта в микрорайоне города, районе, регионе.</span>
        <a href="" class="cooperation__link d-flex transition">Отправить заявку</a>
      </div>
    </div>
  </div>
</section>
