<section class="ratings d-flex flex-wrap col-12">
  <div class="ratings__top d-flex col-12">
    <span class="title">Рейтинги</span>

    <div class="sort-block d-flex">
      <span class="sort-block__text">По годам</span>
      <div class="sort-block__select d-flex">
        <ng-select [(ngModel)]="filter.sort"
                   (change)="getPlayers()"
                   [items]="years"
                   bindValue="sort"
                   bindLabel="sort">
        </ng-select>
      </div>
    </div>
  </div>

  <div class="ratings__content d-flex flex-wrap col-12">
    <div class="directions">
      <div class="directions__title col-12">
        Направления
        <div class="directions__btn d-flex d-md-none" [ngClass]="{'show':showFilter===false}">
          <span class="icon-filter"></span>
          <div class="directions__btn-show" (click)="changeShowFilter()">Показать направления</div>
          <div class="directions__btn-hide" (click)="changeShowFilter()">Скрыть направления</div>
        </div>
      </div>

      <div class="directions__items flex-wrap col-12" [ngClass]="{'show':showFilter===false}">
        <div class="directions__item" *ngFor="let data of ratingsFilter">
          <div class="directions__item-link d-flex transition col-12">
            {{data.name}}

            <div *ngFor="let sData of data.mark" (click)="changeFilter(sData.id)">
              {{sData.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="players d-flex flex-wrap col">
      <div class="player active col-12 col-sm-6 col-xl-4" *ngFor="let player of ratings">
        <a href="" class="player__inner transition d-flex flex-wrap col-12">
          <span *ngIf="player.confirmation!=='1'" class="icon-check"></span>
          <div class="player__photo d-flex">
            <img [src]="'/assets/images/'+player.images" class="player__photo-img" alt="player photo">
          </div>

          <div class="player__info col">
            <span class="player__info-name transition col-12">{{player.fio}}</span>
            <span class="player__info-text transition col-12">{{player.year}} / {{player.branch}}</span>
          </div>

          <div class="player__statistic d-flex col-12">
            <div class="statistic-coefficient col">
              <span class="statistic-coefficient__text col-12">коэффициент</span>
              <span class="statistic-coefficient__value col-12">{{player.coefficient}}</span>
            </div>
            <div class="statistic-played col">
              <span class="statistic-played__text col-12">сыграно</span>
              <span class="statistic-played__value col-12">{{player.played}}</span>
            </div>
            <div class="statistic-victories col">
              <span class="statistic-victories__text col-12">побед</span>
              <span class="statistic-victories__value col-12">{{player.wins}}</span>
            </div>
          </div>
        </a>
      </div>

      <div class="players__more-wrapper col-12">
        <div class="players__more d-flex transition col-12" (click)="morePlayers()">
          <span class="icon-arrow-down transition"></span>
          Загрузить больше
        </div>
      </div>
    </div>
  </div>
</section>
