<section class="player-page col-12">
  <div class="player-page__top d-flex flex-wrap col-12">
    <div class="player-page__info-block d-flex flex-wrap">
      <div class="player-image d-flex">
        <img [src]="'/assets/images/'+player.images" class="player-image__img" alt="player photo">
      </div>

      <div class="player-page__info d-flex flex-wrap">
        <div class="player-page__info-top d-flex">
          <span class="player-page__info-id d-flex">#{{player.id}}</span>
          <span class="player-page__info-text">{{player.year}}</span>
          <span class="player-page__info-text">{{player.region}}</span>
          <span class="player-page__info-text">{{player.city}}</span>
        </div>

        <span class="player-page__info-name">{{player.fio}}</span>
      </div>
    </div>

    <div class="main-statistic d-flex">
      <div class="main-statistic__item d-flex">
        <div class="progress-circle d-flex" data-progress="39.5">
          <!-- data-progress = value * 10, но надо смотреть какой максимальный показатель - сейчас если максимальный показатель = 5 -->
          <span class="icon-lightning"></span>
        </div>

        <div class="main-statistic__item-info d-flex">
          <span class="main-statistic__item-title">коэффициент</span>
          <span class="main-statistic__item-value">{{player.coefficient}}</span>
        </div>
      </div>
      <div class="main-statistic__item d-flex">
        <div class="main-statistic__item-icon d-flex">
          <span class="icon-played"></span>
        </div>
        <div class="main-statistic__item-info d-flex">
          <span class="main-statistic__item-title">сыграно</span>
          <span class="main-statistic__item-value">{{player.statistics.played}}</span>
        </div>
      </div>
      <div class="main-statistic__item d-flex">
        <div class="main-statistic__item-icon d-flex">
          <span class="icon-victories"></span>
        </div>
        <div class="main-statistic__item-info d-flex">
          <span class="main-statistic__item-title">побед</span>
          <span class="main-statistic__item-value">{{player.statistics.wins}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="player-page__tabs-wrapper d-flex flex-wrap col-12">
    <div class="player-page__tabs-text d-none d-lg-flex">Информация</div>

    <div class="player-page__tabs-block d-flex col">
      <ul class="nav trainer-page__tabs d-none d-md-flex flex-wrap">
        <li class="trainer-page__tab">
          <div [ngClass]="{'active':currentTab==='main'}" class="trainer-page__tab-link d-flex transition"
               (click)="currentTab='main'">
            Оснвовное
          </div>
        </li>
        <li class="trainer-page__tab">
          <div [ngClass]="{'active':currentTab==='competition'}" class="trainer-page__tab-link d-flex transition"
               (click)="currentTab='competition'">
            Соревнования
          </div>
        </li>
        <li class="trainer-page__tab">
          <div [ngClass]="{'active':currentTab==='awards'}" class="trainer-page__tab-link d-flex transition"
               (click)="currentTab='awards'">
            Награды
          </div>
        </li>
        <li class="trainer-page__tab">
          <div [ngClass]="{'active':currentTab==='photos'}" class="trainer-page__tab-link d-flex transition"
               (click)="changeCurrentTab('photos')">
            Фотографии
          </div>
        </li>
        <li class="trainer-page__tab">
          <div [ngClass]="{'active':currentTab==='videos'}" class="trainer-page__tab-link d-flex transition"
               (click)="currentTab='videos'">
            Видео
          </div>
        </li>
      </ul>

      <div class="player-page__tabs-email d-flex transition"><span class="icon-mail"></span> Написать игроку</div>
    </div>
  </div>

  <div class="player-page__content-wrapper d-flex flex-wrap col-12">
    <div class="player-page__aside">
      <div class="verified-account d-flex col-12">
        <span class="icon-check"></span>
        <span class="verified-account__text">Подтвержденный аккаунт</span>
      </div>

      <!-- if account not verified -->

      <!--<div class="notverified-account d-flex col-12">
          <span class="icon-question"></span>
          <span class="notverified-account__text">Аккаунт не подтвержден</span>
      </div>-->

      <!-- if account not verified (END) -->

      <div class="aside-items d-flex flex-wrap col-12"><!-- not all fields are available if account not verified -->
        <div class="aside-items__item col-12 col-sm-6 col-md-4 col-lg-12">
          <span class="aside-items__item-title col-12">Дата рождения</span>
          <div class="aside-items__item-block col-12">
            {{player.birth_date}}
          </div>
        </div>

        <div class="aside-items__item col-12 col-sm-6 col-md-4 col-lg-12">
          <span class="aside-items__item-title col-12">Место рождения</span>
          <div class="aside-items__item-block col-12">
            {{player.city}}
          </div>
        </div>

        <div class="aside-items__item col-12 col-sm-6 col-md-4 col-lg-12">
          <span class="aside-items__item-title col-12">Адрес жительства</span>
          <div class="aside-items__item-block col-12">
            {{player.address}}
          </div>
        </div>

        <div class="aside-items__item col-12 col-sm-6 col-md-4 col-lg-12">
          <span class="aside-items__item-title col-12">Родители (Опекуны)</span>
          <div class="aside-items__item-block col-12">
            <div class="aside-items__item-subitem d-flex col-12" *ngIf="player.mother!==''">
              <span class="aside-items__item-text">Мать:</span> {{player.mother}}
            </div>
            <div class="aside-items__item-subitem d-flex col-12" *ngIf="player.father!==''">
              <span class="aside-items__item-text">Отец:</span> {{player.father}}
            </div>
          </div>
        </div>

        <div class="aside-items__item col-12 col-sm-6 col-md-4 col-lg-12">
          <span class="aside-items__item-title col-12">Контакты родителей</span>
          <div class="aside-items__item-block col-12">
            <div *ngIf="player.father_telephone!=''">{{player.father_telephone|telephoneNumber}}</div>
            <div *ngIf="player.mother_telephone!=''">{{player.mother_telephone|telephoneNumber}}</div>
          </div>
        </div>

        <div class="aside-items__item col-12 col-sm-6 col-md-4 col-lg-12">
          <span class="aside-items__item-title col-12">Спорт. школа, клуб</span>
          <div class="aside-items__item-block col-12">
            {{player.clubs}}
          </div>
        </div>

        <div class="aside-items__item col-12 col-sm-6 col-md-4 col-lg-12">
          <span class="aside-items__item-title col-12">Тренер игрока</span>
          <div class="aside-items__item-block col-12">
            <div class="aside-trainer d-flex col-12">
              <div class="aside-trainer__photo d-flex">
                <img [src]="'/assets/images/'+player.coach_img" class="aside-trainer__photo-img"
                     alt="trainer photo">
              </div>
              <div class="aside-trainer__info">
                <span class="aside-trainer__info-name">{{player.coach}}</span>
                <span class="aside-trainer__info-club">{{player.clubs}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="aside-items__item col-12 col-sm-6 col-md-4 col-lg-12" *ngIf="player.email!=null">
          <span class="aside-items__item-title col-12">Электронная почта</span>
          <div class="aside-items__item-block col-12">
            <a href="mailto:nikitinmama@gmail.com">{{player.email}}</a>
          </div>
        </div>

        <div class="aside-items__item col-12 col-sm-6 col-md-4 col-lg-12">
          <span class="aside-items__item-title col-12">Номер телефона</span>
          <div class="aside-items__item-block col-12">
            <a href="tel:+79564536280">{{player.phone|telephoneNumber}}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="player-page__content d-flex flex-wrap">
      <div class="tab-content profile-edit__tabs-content col-12">
        <div *ngIf="currentTab==='main'">
          <div class="mobile-tab transition d-flex d-md-none col-12">
            Оснвовное
            <span class="icon-arrow-down transition"></span>
          </div>
          <div class="tab-pane show active col-12" id="main">
            <div class="growth-chart col-12">
              <div class="growth-chart__top d-flex flex-wrap col-12">
                <span class="growth-chart__top-title">График роста показателей</span>

                <div class="sort-block d-flex">
                  <span class="sort-block__text">Фильтр</span>
                  <div class="sort-block__select d-flex">
                    Игровые данные
                    <span class="icon-arrow-down"></span>
                  </div>
                </div>
              </div>

              <div class="growth-chart__items d-flex flex-wrap col-12">
                <div class="growth-chart__item d-flex flex-wrap col">
                  <div class="growth-chart__item-area" style="height: 44px"></div>
                  <!-- height = value * 20, но надо смотреть какой максимальный показатель - сейчас если максимальный показатель = 5 -->
                  <span class="growth-chart__item-text col-12">2013</span>
                  <span class="growth-chart__item-value col-12">2.2</span>
                </div>
                <div class="growth-chart__item d-flex flex-wrap col">
                  <div class="growth-chart__item-area" style="height: 60px"></div>
                  <span class="growth-chart__item-text col-12">2014</span>
                  <span class="growth-chart__item-value col-12">3</span>
                </div>
                <div class="growth-chart__item d-flex flex-wrap col">
                  <div class="growth-chart__item-area" style="height: 78px"></div>
                  <span class="growth-chart__item-text col-12">2015</span>
                  <span class="growth-chart__item-value col-12">3.9</span>
                </div>
                <div class="growth-chart__item d-flex flex-wrap col">
                  <div class="growth-chart__item-area" style="height: 76px"></div>
                  <span class="growth-chart__item-text col-12">2016</span>
                  <span class="growth-chart__item-value col-12">3.8</span>
                </div>
                <div class="growth-chart__item d-flex flex-wrap col">
                  <div class="growth-chart__item-area" style="height: 92px"></div>
                  <span class="growth-chart__item-text col-12">2017</span>
                  <span class="growth-chart__item-value col-12">4.6</span>
                </div>
                <div class="growth-chart__item d-flex flex-wrap col">
                  <div class="growth-chart__item-area" style="height: 88px"></div>
                  <span class="growth-chart__item-text col-12">2018</span>
                  <span class="growth-chart__item-value col-12">4.4</span>
                </div>
                <div class="growth-chart__item d-flex flex-wrap col">
                  <div class="growth-chart__item-area" style="height: 82px"></div>
                  <span class="growth-chart__item-text col-12">2019</span>
                  <span class="growth-chart__item-value col-12">4.1</span>
                </div>
              </div>
            </div>

            <div class="other-data d-flex flex-wrap col-12">
              <div class="data-block d-flex col-12 col-sm-6 col-md-4" *ngFor="let data of player.marks">
                <div class="data-block__inner col-12">
                  <span class="data-block__title col-12">{{data.name}}</span>

                  <div class="data-block__item d-flex col-12" *ngFor="let params of data.params">
                    <span class="data-block__item-icon icon-tendency"></span>
                    <div class="data-block__item-info col">
                      <div class="data-block__item-title d-flex col-12">
                        {{params.name}}
                        <div class="data-block__item-value d-flex">
                          {{params.val}}
                          <span class="data-block__item-param" *ngIf="params.markcol!=null">{{params.markcol}}</span>
                        </div>
                      </div>
                      <div class="data-block__item-progress col-12">
                        <div class="progress-value" style="width: 75%"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="player-page__description col-12">
              <span class="player-page__description-title">Краткая биография</span>
              <p class="player-page__description-text col-12">{{player.description}}</p>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab==='competition'">
          <div class="mobile-tab transition d-flex d-md-none col-12">
            Соревнования
            <span class="icon-arrow-down transition"></span>
          </div>
          <div class="tab-pane col-12" id="competition">
            <div class="competition-statistic d-flex flex-wrap col-12">
              <div class="competition-statistic__item d-flex col">
                <div class="competition-statistic__item-icon d-flex">
                  <span class="icon-played"></span>
                </div>
                <div class="competition-statistic__item-info d-flex">
                  <span class="competition-statistic__item-title">матчей</span>
                  <span class="competition-statistic__item-value">{{player.statistics.played}}</span>
                </div>
              </div>
              <div class="competition-statistic__item d-flex col">
                <div class="competition-statistic__item-icon d-flex">
                  <span class="icon-played"></span>
                </div>
                <div class="competition-statistic__item-info d-flex">
                  <span class="competition-statistic__item-title">побед</span>
                  <span class="competition-statistic__item-value">{{player.statistics.wins}}</span>
                </div>
              </div>
              <div class="competition-statistic__item d-flex col">
                <div class="competition-statistic__item-icon d-flex">
                  <span class="icon-played"></span>
                </div>
                <div class="competition-statistic__item-info d-flex">
                  <span class="competition-statistic__item-title">ничей</span>
                  <span class="competition-statistic__item-value">{{player.statistics.draw}}</span>
                </div>
              </div>
              <div class="competition-statistic__item d-flex col">
                <div class="competition-statistic__item-icon d-flex">
                  <span class="icon-played"></span>
                </div>
                <div class="competition-statistic__item-info d-flex">
                  <span class="competition-statistic__item-title">голов</span>
                  <span class="competition-statistic__item-value">{{player.statistics.goals}}</span>
                </div>
              </div>
              <div class="competition-statistic__item d-flex col">
                <div class="competition-statistic__item-icon d-flex">
                  <span class="icon-played"></span>
                </div>
                <div class="competition-statistic__item-info d-flex">
                  <span class="competition-statistic__item-title">передач</span>
                  <span class="competition-statistic__item-value">{{player.statistics.pass}}</span>
                </div>
              </div>
            </div>

            <div class="competition-results col-12" *ngIf="player.tournament.listYear.length>0">
              <span class="competition-results__title col-12">Участие и результат в соревнованиях</span>

              <div class="competition-results__filter d-flex flex-wrap col-12">
                <div (click)="changeTournament('')" [ngClass]="{'active':currentTournamentYear===''}"
                     class="competition-results__filter-item d-flex transition">Все
                </div>
                <div *ngFor="let year of player.tournament.listYear"
                     [ngClass]="{'active':currentTournamentYear===year}"
                     (click)="changeTournament(year)"
                     class="competition-results__filter-item d-flex transition">{{year}}
                </div>
              </div>

              <div class="competition-list col-12">
                <div class="competition-item d-flex flex-wrap col-12" *ngFor="let tournament of showTournament">
                  <div class="competition-item__title d-flex">
                    <span class="competition-item__title-icon icon-star-off"></span>
                    <span class="competition-item__title-text">{{tournament.tournament}}</span>
                  </div>
                  <div class="competition-item__team competition-item__team--left">{{tournament.club}}</div>
                  <div class="competition-item__match-result d-flex">{{tournament.goal}} - {{tournament.goal_2}}</div>
                  <div class="competition-item__team">{{tournament.club_2}}</div>
                  <div class="competition-item__date d-flex">
                    {{tournament.date}}
                    <a href="" class="competition-item__info d-flex">
                      <span class="icon-info"></span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="competition-results__more-wrapper col-12">
                <div class="competition-results__more d-flex transition col-12">
                  <span class="icon-arrow-down transition"></span>
                  Загрузить больше
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab==='awards'">
          <div class="mobile-tab transition d-flex d-md-none col-12">
            Награды
            <span class="icon-arrow-down transition"></span>
          </div>
          <div class="tab-pane col-12" id="awards">
            <div class="awards col-12">
              <span class="awards__title col-12">Награды на соревнованиях</span>

              <div class="awards__list d-flex flex-wrap col-12">
                <div class="awards__item-wrapper col-12 col-sm-6 col-md-4 col-lg-3"
                     *ngFor="let awards of player.awardsList">
                  <div class="awards__item-image col-12">
                    <img [src]="'/assets/images/'+awards.photo" alt="award photo">
                  </div>
                  <span class="awards__item-title col-12">{{awards.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab==='photos'">
          <div class="mobile-tab transition d-flex d-md-none col-12">
            Фотографии
            <span class="icon-arrow-down transition"></span>
          </div>
          <div class="tab-pane col-12" id="photos">
            <div class="photos col-12">
              <span class="photos__title col-12">Фотографии с соревнований</span>

              <div class="big-slider col-12">
                <div class="small-slider__slide-inner d-flex col-12 transition">
                  <img [src]="'http://localhost:8005/uploads/img/'+currentImg" class="small-slider__slide-image"
                       alt="slider image">
                </div>
              </div>

              <div style="height: 600px">
                <div class="swiper-container gallery-thumbs" [swiper]="galleryThumbs"
                     (indexChange)="changeSlider($event)">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let img of player.imagesList">
                      <img [src]="'http://localhost:8005/uploads/img/'+img" class="big-slider__slide-image"
                           alt="slider image">
                    </div>
                  </div>

                  <div class="swiper-button-next swiper-button-white"></div>
                  <div class="swiper-button-prev swiper-button-white"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab==='videos'">
          <div class="mobile-tab last transition d-flex d-md-none col-12">
            Видео
            <span class="icon-arrow-down transition"></span>
          </div>
          <div class="tab-pane col-12" id="videos">
            <div class="videos col-12">
              <span class="videos__title col-12">Видео с соревнований</span>

              <div class="videos__list d-flex flex-wrap col-12">
                <div class="videos__list-item col-12 col-sm-6" *ngFor="let video of player.videosList">
                  <div class="video">
                    <div class="video__inner col-12 js-videoWrapper">
                      <video #videoPlayer class="video__container js-videoIframe" controls>
                        <source [src]="video"
                                type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="compare-players col-12">
  <div class="compare-players__title col-12">Похожие игроки по рейтингу</div>

  <div class="compare-slider d-flex flex-wrap col-12">
    <div class="compare-slider__slide col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let player of playersSimilar">
      <div class="player col-12">
        <a href="" class="player__inner transition d-flex flex-wrap col-12">
          <div class="player__photo d-flex">
            <img [src]="'/assets/images/'+player.images" class="player__photo-img" alt="player photo">
          </div>

          <div class="player__info col">
            <span class="player__info-name transition col-12">{{player.fio}}</span>
            <span class="player__info-text transition col-12">{{player.year}} / {{player.branch}}</span>
          </div>

          <div class="player__statistic d-flex col-12">
            <div class="statistic-coefficient col">
              <span class="statistic-coefficient__text col-12">коэффициент</span>
              <span class="statistic-coefficient__value col-12">{{player.coefficient}}</span>
            </div>
            <div class="statistic-played col">
              <span class="statistic-played__text col-12">сыграно</span>
              <span class="statistic-played__value col-12">{{player.played}}</span>
            </div>
            <div class="statistic-victories col">
              <span class="statistic-victories__text col-12">побед</span>
              <span class="statistic-victories__value col-12">{{player.wins}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
