<section class="what-get col-12">
  <div class="what-get__top d-flex col-12">
    <span class="title">Что я получу вступив?</span>
  </div>

  <div class="what-get__content d-flex flex-wrap col-12">
    <div class="what-get__description col-12 col-md-5">
      <p class="what-get__description-text col-12">Регистрируясь в онлайн-платформе, Вы сможете систематизировать свои
        данные, накапливать информацию по разным годам, показывать динамику развития. Информация о Вас можно
        предоставлять заинтересованным сторонам: футбольным клубам, академиям, футбольным агентам. На нашей площадке Вы
        сможете создавать и накапливать свой футбольный капитал, станете частью активного футбольного сообщества и
        сможете заявить о себе в футбольном мире.</p>

      <a href="" class="what-get__register-button d-flex transition">регистрация футболиста</a>
    </div>

    <div class="what-get__image col-12 col-md-7">
      <img src="src/assets/images/what-i-get.png" class="what-get__image-img col-12" alt="what i get image">
    </div>
  </div>
</section>

