@font-face {
    font-family: 'foot-capital';
    src:  url('../fonts/foot-capital.eot');
    src:  url('../fonts/foot-capital.eot') format('embedded-opentype'),
    url('../fonts/foot-capital.ttf') format('truetype'),
    url('../fonts/foot-capital.woff') format('woff'),
    url('../fonts/foot-capital.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'foot-capital' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e900";
}
.icon-filter:before {
    content: "\e901";
}
.icon-check:before {
    content: "\e902";
}
.icon-arrow-right:before {
    content: "\e903";
}
.icon-arrow-down:before {
    content: "\e904";
}
.icon-instagram:before {
    content: "\e905";
}
.icon-vkontakte:before {
    content: "\e906";
}
.icon-youtube:before {
    content: "\e907";
}
.icon-user:before {
    content: "\e908";
    color: #2f48a7;
}
.icon-arrow_left:before {
    content: "\e909";
}
.icon-close:before {
    content: "\e90a";
}
.icon-info:before {
    content: "\e90b";
}
.icon-lightning:before {
    content: "\e90c";
}
.icon-tick:before {
    content: "\e90d";
}
.icon-star-on:before {
    content: "\e90e";
}
.icon-star-off:before {
    content: "\e90f";
}
.icon-address:before {
    content: "\e910";
}
.icon-email:before {
    content: "\e911";
}
.icon-map:before {
    content: "\e912";
}
.icon-phone:before {
    content: "\e913";
}
.icon-mail:before {
    content: "\e914";
}
.icon-gto:before {
    content: "\e915";
}
.icon-passing-game:before {
    content: "\e916";
}
.icon-victories:before {
    content: "\e917";
}
.icon-jump:before {
    content: "\e918";
}
.icon-played:before {
    content: "\e919";
}
.icon-power:before {
    content: "\e91a";
}
.icon-tendency:before {
    content: "\e91b";
}
.icon-question:before {
    content: "\e91c";
}
.icon-victories1:before {
    content: "\e91d";
}
.icon-user1:before {
    content: "\e91e";
}
.icon-passing:before {
    content: "\e91f";
}
.icon-matches:before {
    content: "\e920";
}
.icon-key:before {
    content: "\e921";
}
.icon-goals:before {
    content: "\e922";
}
.icon-draw:before {
    content: "\e923";
}
.icon-check1:before {
    content: "\e924";
}
