.sort-block {
    align-items: center;

    &__text {
        color: #222d3a;
        font-weight: normal;
        font-size: 13px;
        margin-right: 25px;
    }
    &__select {
        height: 30px;
        width: 190px;
        padding: 0;
        align-items: center;
        color: #2e48a7;
        background: #FFF;
        //clip-path: polygon(0 0, 100% 0, 100% 60%, 95% 100%, 0 100%);
        position: relative;
        font-size: 14px;

        &:after {
            content: '';
            position: absolute;
            background: #f3f5f9;
            -webkit-clip-path: polygon(100% 0,0 100%,100% 100%);
            clip-path: polygon(100% 0,0 100%,100% 100%);
            width: 15px;
            height: 15px;
            right: -3px;
            bottom: -1px;
            z-index: 1002;
        }
        .icon-arrow-down {
            color: #2e48a7;
            position: absolute;
            right: 20px;
            font-size: 12px;
        }
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    .sort-block {

        &__text {
            font-size: 13px;
            margin-right: 10px;
        }
        &__select {
            width: 170px;
        }
    }
}
