<section class="your-offers col-12">
  <div class="your-offers__top d-flex col-12">
    <span class="title">Ваши предложения</span>
  </div>

  <div class="your-offers__content d-flex flex-wrap col-12">
    <div class="your-offers__list d-flex flex-wrap col">
      <div class="your-offers__item col-12">
        <div class="your-offers__item-author col-12"><b>Дмитрий,</b> Кемеровская область</div>

        <div class="your-offers__item-text col-12">
          <div class="your-offers__item-icon d-flex">
            <span class="icon-info"></span>
          </div>
          Будет удобно, если появится мобильное приложение.
        </div>
      </div>
      <div class="your-offers__item col-12">
        <div class="your-offers__item-author col-12"><b>Марина,</b> Ставрополь</div>

        <div class="your-offers__item-text col-12">
          <div class="your-offers__item-icon d-flex">
            <span class="icon-info"></span>
          </div>
          Хорошо, если приложение само будет ставить временные границы съемки для более удобной загрузки на сайт
        </div>
      </div>
      <div class="your-offers__item col-12">
        <div class="your-offers__item-author col-12"><b>Роман,</b> Московская область</div>

        <div class="your-offers__item-text col-12">
          <div class="your-offers__item-icon d-flex">
            <span class="icon-info"></span>
          </div>
          Нужно организовать техническую возможность съемки матчей через мобильное приложение.
        </div>
      </div>
    </div>

    <form class="your-offers__form">
      <div class="your-offers__form-inner col-12">
        <div class="your-offers__form-title col-12">Оставьте свое предложение</div>
        <div class="your-offers__form-fields col-12">
          <div class="faq__form-field col-12" [ngClass]="{'error':params.name.error}">
            <input type="text" [(ngModel)]='params.name.val' [ngModelOptions]="{standalone: true}" class="faq__form-input error d-flex col-12" placeholder="Ваше имя">
            <div class="faq__form-error col-12">Поле обязательное для заполнения</div>
          </div>
          <div class="faq__form-field col-12" [ngClass]="{'error':params.phone.error}">
            <input type="text" [(ngModel)]='params.phone.val' [ngModelOptions]="{standalone: true}" class="faq__form-input d-flex col-12" placeholder="Номер телефона">
            <div class="faq__form-error col-12">Поле обязательное для заполнения</div>
          </div>
          <div class="faq__form-field col-12" [ngClass]="{'error':params.city.error}">
            <input type="text" [(ngModel)]='params.city.val' [ngModelOptions]="{standalone: true}" class="faq__form-input d-flex col-12" placeholder="Ваш город">
            <div class="faq__form-error col-12">Поле обязательное для заполнения</div>
          </div>
          <div class="faq__form-field col-12" [ngClass]="{'error':params.question.error}">
            <textarea [(ngModel)]='params.question.val' [ngModelOptions]="{standalone: true}" class="your-offers__form-textarea col-12" placeholder="Ваше предложение"></textarea>
            <div class="faq__form-error col-12">Поле обязательное для заполнения</div>
          </div>

          <input type="submit" (click)="sendOffers()" class="your-offers__form-button d-flex transition" value="Отправить">

          <div class="form-checkbox">
            <input id="professional" type="checkbox" class="form-checkbox__input" [checked]="params.checked.val" (click)="params.checked.val=!params.checked.val">
            <label for="professional" class="form-checkbox__label noselect">Принимаю условия обработки данных</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
