<app-sms></app-sms>
<app-auth></app-auth>
<app-online-modal></app-online-modal>
<app-player-message></app-player-message>
<div class="container-fluid">
  <div class="row">
    <app-menu-header class="header col-12"></app-menu-header>

    <div class="content col-12">
      <app-breadcrumbs></app-breadcrumbs>

      <router-outlet></router-outlet>

      <app-news-mini *ngIf="this.router.url!=='/news'" class="news-block d-flex flex-wrap col-12"></app-news-mini>
    </div>

    <app-menu-footer class="footer col-12"></app-menu-footer>
  </div>
</div>
