<section class="faq col-12">
  <div class="faq__top d-flex col-12">
    <span class="title">Ответы на вопросы</span>
  </div>

  <div class="faq__content d-flex flex-wrap col-12">
    <div class="faq__list d-flex flex-wrap col" id="accordion">
      <div class="faq__item transition col-12" id="ask-head-1">
        <div class="faq__item-author collapsed d-flex flex-wrap col-12" data-toggle="collapse" data-target="#answer-1"
             aria-expanded="true" aria-controls="answer-1">
          <b>Дмитрий,</b> Кемеровская область
          <div class="faq__item-btn d-flex transition">
            <span class="icon-arrow-down transition"></span>
          </div>
        </div>

        <div class="faq__item-text transition col-12">
          <a href="" class="faq__item-icon d-flex transition">
            <span class="icon-info"></span>
          </a>
          Планируется ли мобильное приложение?
        </div>

        <div id="answer-1" class="faq__item-answer collapse" aria-labelledby="ask-head-1 col-12"
             data-parent="#accordion">
          Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни
          уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард
          МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в
          Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл
          неосп
        </div>
      </div>

      <div class="faq__item transition col-12" id="ask-head-2">
        <div class="faq__item-author collapsed d-flex flex-wrap col-12" data-toggle="collapse" data-target="#answer-2"
             aria-expanded="true" aria-controls="answer-2">
          <b>Дмитрий,</b> Кемеровская область
          <div class="faq__item-btn d-flex transition">
            <span class="icon-arrow-down transition"></span>
          </div>
        </div>

        <div class="faq__item-text transition col-12">
          <a href="" class="faq__item-icon d-flex transition">
            <span class="icon-info"></span>
          </a>
          Планируется ли мобильное приложение?
        </div>

        <div id="answer-2" class="faq__item-answer collapse" aria-labelledby="ask-head-2 col-12"
             data-parent="#accordion">
          Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни
          уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард
          МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в
          Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл
          неосп
        </div>
      </div>

      <div class="faq__item transition col-12" id="ask-head-3">
        <div class="faq__item-author collapsed d-flex flex-wrap col-12" data-toggle="collapse" data-target="#answer-3"
             aria-expanded="true" aria-controls="answer-3">
          <b>Дмитрий,</b> Кемеровская область
          <div class="faq__item-btn d-flex transition">
            <span class="icon-arrow-down transition"></span>
          </div>
        </div>

        <div class="faq__item-text transition col-12">
          <a href="" class="faq__item-icon d-flex transition">
            <span class="icon-info"></span>
          </a>
          Планируется ли мобильное приложение?
        </div>

        <div id="answer-3" class="faq__item-answer collapse" aria-labelledby="ask-head-3 col-12"
             data-parent="#accordion">
          Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни
          уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард
          МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в
          Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл
          неосп
        </div>
      </div>
    </div>

    <form class="faq__form">
      <div class="faq__form-inner col-12">
        <div class="faq__form-title col-12">Задать свой вопрос</div>
        <div class="faq__form-fields col-12">
          <div class="faq__form-field col-12">
            <input type="text" [ngModel]='params.name' class="faq__form-input error d-flex col-12" placeholder="Ваше имя">
            <div class="faq__form-error col-12">Поле обязательное для заполнения</div>
          </div>
          <div class="faq__form-field col-12">
            <input type="text" [ngModel]='params.phone' class="faq__form-input d-flex col-12" placeholder="Номер телефона">
            <div class="faq__form-error col-12">Поле обязательное для заполнения</div>
          </div>
          <div class="faq__form-field col-12">
            <input type="text" [ngModel]='params.city' class="faq__form-input d-flex col-12" placeholder="Ваш город">
            <div class="faq__form-error col-12">Поле обязательное для заполнения</div>
          </div>
          <div class="faq__form-field col-12">
            <textarea [ngModel]='params.question' class="faq__form-textarea col-12" placeholder="Ваш вопрос"></textarea>
          </div>

          <input type="submit" (click)="sendQuestion()" class="faq__form-button d-flex transition" value="Отправить">

          <div class="form-checkbox">
            <input id="professional" type="checkbox" class="form-checkbox__input" checked="">
            <label for="professional" class="form-checkbox__label noselect">Принимаю условия обработки данных</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
