<section class="map-page d-flex flex-wrap col-12">
  <div class="map-page__top d-flex col-12">
    <span class="title">Карта игроков по России</span>

    <!--<div class="sort-block d-flex">
      <span class="sort-block__text">Сортировать</span>
      <div class="sort-block__select d-flex">
        Высокий рейтинг
        <span class="icon-arrow-down"></span>
      </div>
    </div>-->
  </div>

  <div class="map-page__map col-12" id="map">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af82b87c7788aa81fd0c8271fe3aa3cc4d0a0f369941ff0814e7bc1cd682e1a68&amp;source=constructor" width="100%" height="550" frameborder="0"></iframe>
  </div>
</section>
