<section class="coachInfo-page col-12">
  <div class="trainer-page__top d-flex flex-wrap col-12">
    <div class="trainer-page__info-block d-flex flex-wrap">
      <div class="trainer-image d-flex">
        <img [src]="'/assets/images/'+coachInfo.images" class="trainer-image__img" alt="coachInfo photo">
      </div>

      <div class="trainer-page__info d-flex flex-wrap">
        <div class="trainer-page__info-top d-flex">
          <span class="trainer-page__info-id d-flex">#{{coachInfo.id}}</span>
          <span class="trainer-page__info-text">{{coachInfo.year}}</span>
          <span class="trainer-page__info-text">{{coachInfo.region}}</span>
          <span class="trainer-page__info-text">{{coachInfo.city}}</span>
        </div>

        <span class="trainer-page__info-name">{{coachInfo.fio}}</span>
      </div>
    </div>
  </div>

  <div class="trainer-page__tabs-wrapper d-flex flex-wrap col-12">
    <div class="trainer-page__tabs-text d-none d-lg-flex">Информация</div>

    <div class="trainer-page__tabs-block d-flex col">
      <ul class="nav trainer-page__tabs d-none d-md-flex flex-wrap">
        <li class="trainer-page__tab">
          <div [ngClass]="{'active':currentTab==='main'}" class="trainer-page__tab-link d-flex transition"
               (click)="currentTab='main'">
            Оснвовное
          </div>
        </li>
        <li class="trainer-page__tab">
          <div [ngClass]="{'active':currentTab==='competition'}" class="trainer-page__tab-link d-flex transition"
               (click)="currentTab='competition'">
            Соревнования
          </div>
        </li>
        <li class="trainer-page__tab">
          <div [ngClass]="{'active':currentTab==='awards'}" class="trainer-page__tab-link d-flex transition"
               (click)="currentTab='awards'">
            Награды
          </div>
        </li>
        <li class="trainer-page__tab">
          <div [ngClass]="{'active':currentTab==='photos'}" class="trainer-page__tab-link d-flex transition"
               (click)="changeCurrentTab('photos')">
            Фотографии
          </div>
        </li>
        <li class="trainer-page__tab">
          <div [ngClass]="{'active':currentTab==='videos'}" class="trainer-page__tab-link d-flex transition"
               (click)="currentTab='videos'">
            Видео
          </div>
        </li>
      </ul>

      <div class="trainer-page__tabs-email d-flex transition"><span class="icon-mail"></span> Написать тренеру</div>
    </div>
  </div>

  <div class="trainer-page__content-wrapper d-flex flex-wrap col-12">
    <div class="trainer-page__aside">
      <div class="verified-account d-flex col-12" *ngIf="coachInfo.confirmation==='1'">
        <span class="icon-check"></span>
        <span class="verified-account__text">Подтвержденный аккаунт</span>
      </div>

      <div class="notverified-account d-flex col-12" *ngIf="coachInfo.confirmation==='0'">
        <span class="icon-question"></span>
        <span class="notverified-account__text">Аккаунт не подтвержден</span>
      </div>

      <div class="aside-items d-flex flex-wrap col-12">
        <div class="aside-items__item col-12 col-sm-6 col-lg-12">
          <span class="aside-items__item-title col-12">Дата рождения</span>
          <div class="aside-items__item-block col-12">
            {{coachInfo.birth_date}}
          </div>
        </div>

        <div class="aside-items__item col-12 col-sm-6 col-lg-12">
          <span class="aside-items__item-title col-12">Спорт. школа, клуб</span>
          <div class="aside-items__item-block col-12">
            {{coachInfo.clubs}}
          </div>
        </div>

        <div class="aside-items__item col-12 col-sm-6 col-lg-12">
          <span class="aside-items__item-title col-12">Электронная почта</span>
          <div class="aside-items__item-block col-12">
            <a href="mailto:nikitinmama@gmail.com">{{coachInfo.email}}</a>
          </div>
        </div>

        <div class="aside-items__item col-12 col-sm-6 col-lg-12">
          <span class="aside-items__item-title col-12">Номер телефона</span>
          <div class="aside-items__item-block col-12">
            <a href="tel:+79564536280">{{coachInfo.phone|telephoneNumber}}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="trainer-page__content d-flex flex-wrap">
      <div class="tab-content profile-edit__tabs-content col-12">
        <div *ngIf="currentTab==='main'">
          <div class="mobile-tab transition d-flex col-12">
            Оснвовное
            <span class="icon-arrow-down transition"></span>
          </div>
          <div class="tab-pane show active col-12" *ngIf="coachInfo.clubs_list.length>0">
            <div class="teams col-12">
              <span class="teams__title col-12">Команды</span>

              <div class="teams__list col-12">
                <div class="teams__item d-flex col-12" *ngFor="let clubs of coachInfo.clubs_list">
                  <div class="teams__item-info col">
                    <span class="teams__item-club">{{clubs.name}}</span>
                    <span class="teams__item-city">{{clubs.branch}}</span>
                  </div>
                  <!-- <div class="teams__item-statistic d-flex flex-wrap">
                     <span class="teams__item-text">коэффициент команды</span>
                     <span class="teams__item-value">4.3</span>
                   </div>-->
                </div>
              </div>
            </div>

            <div class="trainer-page__description col-12">
              <span class="trainer-page__description-title col-12">Краткая биография</span>
              <p class="trainer-page__description-text col-12">
                {{coachInfo.description}}
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab==='competition'">
          <div class="mobile-tab transition d-flex col-12">
            Соревнования
            <span class="icon-arrow-down transition"></span>
          </div>
          <div class="tab-pane col-12">
            <div class="competition-results col-12" *ngIf="coachInfo.tournament.listYear.length>0">
              <span class="competition-results__title col-12">Участие и результат в соревнованиях</span>

              <div class="competition-results__filter d-flex flex-wrap col-12">
                <div (click)="changeTournament('')" [ngClass]="{'active':currentTournamentYear===''}"
                     class="competition-results__filter-item d-flex transition">Все
                </div>
                <div *ngFor="let year of coachInfo.tournament.listYear"
                     [ngClass]="{'active':currentTournamentYear===year}"
                     (click)="changeTournament(year)"
                     class="competition-results__filter-item d-flex transition">{{year}}
                </div>
              </div>

              <div class="competition-list col-12">
                <div class="competition-item d-flex flex-wrap col-12"
                     *ngFor="let tournament of showTournament">
                  <div class="competition-item__title d-flex">
                    <span class="competition-item__title-icon icon-star-off"></span>
                    <span class="competition-item__title-text">{{tournament.name}}</span>
                  </div>
                  <div class="competition-item__place">{{tournament.state}} место</div>
                  <div class="competition-item__date d-flex">
                    {{tournament.date}}
                    <a href="" class="competition-item__info d-flex">
                      <span class="icon-info"></span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="competition-results__more-wrapper col-12">
                <div class="competition-results__more d-flex transition col-12">
                  <span class="icon-arrow-down transition"></span>
                  Загрузить больше
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab==='awards'">
          <div class="mobile-tab transition d-flex col-12">
            Награды
            <span class="icon-arrow-down transition"></span>
          </div>
          <div class="tab-pane col-12">
            <div class="awards col-12">
              <span class="awards__title col-12">Награды тренера</span>

              <div class="awards__list d-flex flex-wrap col-12">
                <div class="awards__item-wrapper col-12 col-sm-6 col-md-4 col-lg-3"
                     *ngFor="let awards of coachInfo.awardsList">
                  <div class="awards__item-image col-12">
                    <img [src]="'/assets/images/'+awards.photo" alt="award photo">
                  </div>
                  <span class="awards__item-title col-12">{{awards.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab==='photos'">
          <div class="mobile-tab transition d-flex col-12">
            Фотографии
            <span class="icon-arrow-down transition"></span>
          </div>
          <div class="tab-pane col-12">
            <div class="photos col-12">
              <span class="photos__title col-12">Фотографии с соревнований</span>

              <div class="big-slider col-12">
                <div class="small-slider__slide-inner d-flex col-12 transition" >
                  <img [src]="'http://localhost:8005/uploads/img/'+currentImg" class="small-slider__slide-image"
                       alt="slider image">
                </div>
              </div>

              <div style="height: 600px">
                <div class="swiper-container gallery-thumbs" [swiper]="galleryThumbs" (indexChange)="changeSlider($event)">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let img of coachInfo.imagesList" >
                      <img [src]="'http://localhost:8005/uploads/img/'+img" class="big-slider__slide-image"
                           alt="slider image">
                    </div>
                  </div>

                  <div class="swiper-button-next swiper-button-white"></div>
                  <div class="swiper-button-prev swiper-button-white"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab==='videos'">
          <div class="mobile-tab last transition d-flex col-12">
            Видео
            <span class="icon-arrow-down transition"></span>
          </div>
          <div class="tab-pane col-12" id="videos">
            <div class="videos col-12">
              <span class="videos__title col-12">Видео с соревнований</span>

              <div class="videos__list d-flex flex-wrap col-12">
                <div class="videos__list-item col-12 col-sm-6" *ngFor="let video of coachInfo.videosList">
                  <div class="video">
                    <div class="video__inner col-12 js-videoWrapper">
                      <video #videoPlayer class="video__container js-videoIframe" controls>
                        <source [src]="video"
                                type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
