<div class="news-block__title d-flex col-12">
  Новости
  <a [routerLink]="'/news'" class="news-block__all d-flex">Все новости <span class="icon-arrow-right"></span></a>
</div>

<div class="news-list d-flex flex-wrap col-12">


  <div class="news col-12 col-sm-6 col-lg-3" *ngFor="let data of news">
    <div class="news__inner col-12">
      <a href="" class="news__image col-12">
        <div class="news__image-inner d-flex col-12">
          <img [src]="'/assets/images/'+data.img" class="news__image-img transition" alt="news photo">
        </div>
      </a>
      <a href="" class="news__title transition col-12">
        {{data.title}}
      </a>
      <span class="news__text">{{data.date_create}}</span>
    </div>
  </div>

</div>
