<section class="post d-flex flex-wrap col-12">
  <div class="post-content col">
    <div class="post__image d-flex col-12">
      <img [src]="'/src/assets/images/'+newsProject.img" class="post__image-img" alt="post image">
    </div>
    <span class="post__date col-12">{{newsProject.date_create}}</span>
    <span class="post__title col-12">
      {{newsProject.text}}
    </span>
    <div class="post__socials d-flex flex-wrap col-12">
      <a href="" class="post__socials-item post__socials-item--facebook d-flex"><img src="/src/assets/images/FB.svg"
                                                                                     class="transition"
                                                                                     alt="facebook icon"> Поделиться</a>
      <a href="" class="post__socials-item post__socials-item--twitter d-flex"><img src="/src/assets/images/twitter.svg"
                                                                                    class="transition"
                                                                                    alt="twitter icon"> Поделиться</a>
      <a href="" class="post__socials-item post__socials-item--vk d-flex"><img src="/src/assets/images/VK.svg"
                                                                               class="transition"
                                                                               alt="twitter icon"> Поделиться</a>
    </div>
  </div>
  <div class="post-aside">
    <div class="news-list d-flex flex-wrap col-12">
      <div class="news col-12 col-sm-6 col-md-12" *ngFor="let data of news">
        <div class="news__inner col-12">
          <a href="" class="news__image col-12">
            <div class="news__image-inner d-flex col-12">
              <img [src]="'/src/assets/images/'+data.img" class="news__image-img transition" alt="news photo">
            </div>
          </a>
          <a href="" class="news__title transition col-12">
            {{data.title}}
          </a>
          <span class="news__text">{{data.date_create}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
