 <div class="footer-top d-flex flex-wrap col-12">
    <form class="footer-subscription d-flex">
      <span class="footer-subscription__text">Подписка на новости</span>
      <input type="text" class="footer-subscription__input" placeholder="Ваша почта">
      <button class="footer-subscription__btn d-flex"><span class="icon-arrow-right transition"></span></button>
    </form>

    <div class="footer-info d-flex">
      <a href="" class="footer-info__link transition">Контакты</a>
      <a href="" class="footer-info__link transition">Задать вопрос</a>
      <a href="tel:88002000564" class="footer-info__phone">8 800 2000 564</a>
    </div>

    <div class="footer-socials d-flex">
      <a href="" class="footer-socials__item d-flex">
        <span class="icon-vkontakte transition"></span>
      </a>
      <a href="" class="footer-socials__item d-flex">
        <span class="icon-instagram transition"></span>
      </a>
      <a href="" class="footer-socials__item d-flex">
        <span class="icon-youtube transition"></span>
      </a>
    </div>
  </div>

  <div class="footer-menu d-flex flex-wrap col-12">
    <div class="footer-menu__item">
      <a [routerLink]="'/about'" class="footer-menu__item-link transition">О проекте</a>
    </div>
    <div class="footer-menu__item">
      <a [routerLink]="'/cooperation'" class="footer-menu__item-link transition">Сотрудничество</a>
    </div>
    <div class="footer-menu__item">
      <a [routerLink]="'/news-project'" class="footer-menu__item-link transition">Новости проекта</a>
    </div>
    <div class="footer-menu__item">
      <a [routerLink]="'/your-offers'" class="footer-menu__item-link transition">Ваши предложения</a>
    </div>
    <div class="footer-menu__item">
      <a [routerLink]="'/faq'" class="footer-menu__item-link transition">Ответы на вопросы</a>
    </div>
    <div class="footer-menu__item">
      <a [routerLink]="'/what-i-get'" class="footer-menu__item-link transition">Что я получу вступив?</a>
    </div>
    <div class="footer-menu__item">
      <a [routerLink]="'/contacts'" class="footer-menu__item-link transition">Контакты</a>
    </div>
    <div class="footer-menu__item">
      <a [routerLink]="'/registration'" class="footer-menu__item-link transition">Регистрация футболиста</a>
    </div>
  </div>

  <div class="footer-bottom d-flex flex-wrap col-12">
    <span class="footer-bottom__copyright">© 2020    Футбольный Капитал    -</span>
    <a href="" class="footer-bottom__policy transition" target="_blank">Политика конфиденциальности</a>
  </div>
